window {
    background-color: #0d1117;
    border: 2px solid #30363d;
    border-radius: 10px;
}

#outer-box {
    margin: 10px;
    padding: 10px;
}

#input {
    background-color: #161b22;
    color: #c9d1d9;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #30363d;
}

#inner-box {
    background-color: #0d1117;
}

#scroll {
    background-color: #0d1117;
}

#text {
    color: #c9d1d9;
    padding: 5px;
}

#entry {
    background-color: transparent;
    border-radius: 5px;
}

#entry:selected {
    background-color: #21262d;
    color: #c9d1d9;
    border: 1px solid #58a6ff;
}

/* Scrollbar */
scrollbar {
    background-color: #0d1117;
    color: #30363d;
    border-radius: 5px;
    margin: 5px;
}
